<footer class="text-center">
<div class="container-fluid">
    <p>Made by <a href="http://www.andrewheinke.com/">Andrew Heinke</a> in Austin, Texas &copy; 2016 | <a href="https://github.com/AndrewHeinke/elder.ly">GitHub</a></p>
</div>
  </footer>
