<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <!-- Fixed navbar -->
  <% include ../partials/navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="firstJumbo" class="jumbotron">
      <div class="container">
        <h1>Here is my first post!</h1>
      </div>
    </div>
    <div class="container">
      <p>
        content will go here
      </p>
    </div>
    <% include ../partials/footer %>
  </div>
    <% include ../partials/body %>

</html>
