<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <!-- Fixed navbar -->
  <% include ../partials/navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">UI Dribbble Mock Ups from PSD to Code</h1>
            <p>
              A collection of code snippets with design inspired by Dribbble UI design
            </p>
        </div>
    </div>
    <% include ../partials/footer %>
  </div>
    <% include ../partials/body %>

</html>
